apiVersion: v2
name: dex
description: A Helm chart for Dex - OpenID Connect Identity (OIDC) and OAuth 2.0 Provider with Pluggable Connectors
type: application
version: 0.1.5
appVersion: "2.42.0"
maintainers:
  - name: wiemaouadi
    email: wiem.aouadi3@gmail.com
    url: https://github.com/wiemaouadi
  - name: smileisak
    email: ikaboubi@gmail.com
    url: https://github.com/smileisak
dependencies:
  - name: dex
    version: 0.24.0
    repository: https://charts.dexidp.io
    alias: dex
  - name: gcp-workload-identity
    version: 0.1.1
    repository: "https://edixos.github.io/ekp-helm"
    alias: workloadIdentity
    tags:
      - configConnector
  - name: gcp-iam-policy-members
    version: 0.1.2
    repository: "https://edixos.github.io/ekp-helm"
    alias: iamPolicyMembers
    tags:
      - configConnector
