{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "multus-cni.serviceAccountName" . }}
  namespace: {{ include "multus-cni.namespace" . }}
  labels:
    {{- include "multus-cni.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}